<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="StorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=siteprovisioningaccount;AccountKey=KQczW9SPgA12cpWcH64teoOCC3shhKB1h1boiOc3+cVeaiMshIy2XyMIkaU4ui9FPEKxlZ98wbe7Ar9ML2IOqw==;EndpointSuffix=core.windows.net"/>
    <add key="SiteStorageAccountName" value="siteprovisioningaccount"/>
  </appSettings>
</configuration>